extends layout

block content
  body.background
    section.content-section.container
        h2.section-header ABOUT
        img.about-parker-img(src="images/ParkerInfrontofTrailer.jpg", width="600", height="400")
        p.section-paragraph.
          Bentley Power Washing is a small buisiness started by a young man named Parker bentley. Parker is young hardworking man from Glendora, NJ, who has battled his way through life and is 
          trying to create a thriving small buisiness. Parker is a hard worker with a great sense in his core values. He started powerwashing during covid when he lost his job to help his family 
          and nieghbors. He realized he had a real passion for this and started to think about devolping it into a real buisiness. He employs multiple friends and family to help and support him. 
          The mission of BPW is to empower others to beleive that anything is possible with enough hardwork and dedication.
          
        p.section-paragraph.
          
          Bentley Power Washing is a samll buisiness started by a young man named Parker bentley. Parker is young hardworking man from Glendora, NJ, who has
          battled his way through life and is trying to create a thriving small buisiness. Parker is a hard worker with a great sense in his core values.
          He started powerwashing during covid when he lost his job to help his family and nieghbors. He realized he had a real passion for this and started 
          to think about devolping it into a real buisiness. He employs multiple friends and family to help and support him. The mission of BPW is to empower
          others to beleive that anything is possible with enough hardwork and dedication.
