block header
    title BPW
    style
        include styles.css
    header.main-header
        nav.nav.main-nav
            ul
            li
                a(href="/index") HOME
            li
                a(href="/contact") Contact Us
            li
                a(href="/about") ABOUT
        h1.powerwashing-name.powerwashing-name-large Bentley Power Washing
 
block content

block footer
    footer.main-footer 
        div.container.main-footer-container
            a.powerwashing-name(href="/index") BPW
            ul.nav.footer-nav
                li
                    a(href="https://www.instagram.com/bentleypowerwashing/", target="_blank")
                        img(src="images/iglogoV2.webp", width="25", height="25")
                li
                    a(href="https://www.tiktok.com/@bentleypowerwashing", target="_blank")
                        img(src="images/tiktoklogoV3.webp", width="40", height="40")
            ul.nav
                li
                    h4.footer-info parkbent123@yahoo.com
                li
                    h4.footer-info 609-827-7676